<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Ganti Password</title>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Update Password
                    </div>
                    <div class="card-body">
                        <form th:action="@{/user/success}" method="POST">
                            Password Lama: <br>
                            <input type="password" name="password" class="form-control" required/>
                            <br>
                            Password Baru: <br>
                            <input type="password" name="passwordBaru" class="form-control" required/>
                            <br>
                           	Konfirmasi Password Baru: <br>
                            <input type="password" name="konfirmasi" class="form-control" required/>
                            <br><br>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </form>
                    </div>
                    <div>
                    	<font th:text="${error}" color="red"></font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>